.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25rem;
  border-radius: .25rem;
  box-shadow: 1px 1px 5px -1px gray;
  padding: 1rem;
}

.title {
  text-align: center;
}

.counter {
  display: flex;
  justify-content: space-around;
}

.time {
  color: green;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.title {
  color: gray;
}